.action {
  padding: 10px 25px;
  border-radius: var(--primary-border-radius);
  width: 100%;
  min-width: 250px;
  background-color: var(--secondary-card-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  .icon {
    font-size: 24px;
  }
  .type {
    white-space: nowrap;
  }
}
