@use 'scrollbar.scss' as *;

.group {
  padding: 8px 10px;
  border-radius: var(--primary-border-radius);
  height: 100%;
  background-color: var(--secondary-card-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;

  .name {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
  }

  .quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    @include scrollbar(5px, var(--card-bg-color));
  }
}
