@use 'scrollbar.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  height: 100%;

  color: var(--primary-color);
  font-family: var(--primary-font-family);
  .title {
    align-self: flex-start;
    color: var(--secondary-color);
    margin-bottom: 15px;
    font-size: 20px;
    font-family: var(--secondary-font-family);
  }
}

.routines {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 2% 4% 4%;
  overflow-x: hidden;
  overflow-y: auto;
  @include scrollbar();
  .routine {
    width: 100%;
  }
}

.btn {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
