.primary {
  background-color: var(--card-bg-color);
}

.secondary {
  background-color: var(--secondary-card-bg-color);
}

.container {
  padding: 2% 4%;
  border-radius: var(--primary-border-radius);
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  font-size: 16px;
  height: 100%;
  width: 100%;
}
